body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 70px;
}

.is-invisible{
    display: none !important;
}


.article-list-item-container {
    position: relative;
    border-radius: 1px 1px 0 0;
    border: 1px solid #eaeaea;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: -1px;
}

.article-list-item-container .focus {
    float: left;
    margin-left: -205px;
    width: 200px;
}
.article-list-item-container .thumb {
    width: 200px;
    height: 120px;
    vertical-align: middle;
    border: 0;
}
.article-list-item-container header {
    margin-bottom: 10px;
}
header {
    display: block;
}
.article-list-item-container .article-list-item-category {
    background-color: #16C0F8;
}
.article-list-item-container .article-list-item-category {
    color: #fff;
    background-color: #45BCF9;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px;
}
.article-list-item-container .article-list-item-title {
    display: inline;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 0;
    font-weight: bold;
}
.article-list-item-container .article-list-item-title a {
    color: #555;
}
.article-list-item-container .article-list-item-title a :hover {
    color: #16C0F8;
}
.article-list-item-container .article-list-item-category i {
    border-left-color: #16C0F8;
}
.article-list-item-container .article-list-item-category i {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid #45BCF9;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.article-list-item-container time, .article-list-item-container .pv, .article-list-item-container .pc, .article-list-item-container .author {
    margin-right: 20px;
}
.article-list-item-container .article-list-item-meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
}
.article-list-item-container .article-list-item-meta .fa {
    margin-right: 4px;
}
.article-list-item-container .note {
    font-size: 12px;
    color: #999;
    word-wrap: break-word;
    line-height: 20px;
    margin-bottom: 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}
a:hover {
    color: #428bca;
    text-decoration: none;
}



/*最新资源部分*/
.widget {
    clear: both;
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
.widget h3 {
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb;
    margin: 0;
    padding: 11px 15px 10px;
}
.widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget_ui_posts .nopic li a {
    padding: 10px 15px;
}
.widget_ui_posts li a {
    padding: 10px 15px 10px 150px;
    color: #888;
    border-bottom: solid 1px #eee;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 14px;
}
.text, .note {
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.widget_ui_posts .text {
    display: block;
}
.widget_ui_posts .muted {
    margin-right: 15px;
    font-size: 12px;
    color: #bbb;
}
.widget_ui_posts .nopic .text {
    margin-top: 0;
    color: #888;
}



.content {
    position: relative;
    min-height: 500px;
    margin-right: 380px;
    margin-bottom: 15px;
}
.catleader {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px 20px;
}
.catleader {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px 20px;
}
.catleader h1 {
    border-left-color: #16C0F8;
}
.catleader h1 {
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 1;
    border-left: 5px solid #45B6F7;
    padding-left: 10px;
}
.catleader-desc {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}


/**详情页 */
.article-header {
    margin-bottom: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.article-title {
    margin-top: 0;
    font-size: 26px;
    line-height: 36px;
}
.article-title a, .article-title a:hover {
    color: #555;
}
.article-meta {
    font-size: 12px;
    color: #999;
}
.article-meta .item {
    margin-right: 20px;
}
.article-content {
    font-size: 15px;
    line-height: 25px;
    word-wrap: break-word;
}

.article-content{font-size:15px;line-height:25px;word-wrap:break-word;}
.article-content img{margin: 5px 0; display:block;max-width:100%;height:auto}
.article-content h3, .article-content h4, .article-content h5{padding:0 0;margin:20px 0;color: #555;font-weight:bold;}
.article-content h1, .article-content h2{font-weight:bold;margin:20px 0;border-bottom: 1px solid #eee;padding-bottom: 10px;}
.article-content h1{
    font-size:20px;
    font-weight: bold;
    background-color: #ececec;
    border-bottom: 0px solid #12b4f0;
    padding: 6px 12px;
    border-left: 5px solid #24b4f0;
    margin: 12px 0px;}
.article-content h2{
    font-size:18px;
    font-weight:bold;
    background-color: #ececec;
    border-bottom: 0px solid #12b4f0;
    padding: 6px 12px;
    border-left: 0px solid #24b4f0;
    margin:12px 0px;}
.article-content h3{font-size:16px;}
.article-content h4{font-size:15px;}
.article-content h5{font-size:14px;}
.article-content ul, .article-content ol{margin:0 0 20px 50px}
.article-content ul{list-style: disc;}
.article-content ol{list-style: decimal;}
.article-content li{margin-bottom: 6px;}
.article-content p{margin-bottom:20px;word-wrap:break-word}
.article-content pre{word-wrap:break-word;}
.article-content table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:20px}
.article-content table th{background-color:#f9f9f9;text-align:center}
.article-content table td,.article-content table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.article-content .alignnone{margin:0 auto;}
.article-content .alignleft{float:left;text-align:left;margin-right:10px}
.article-content .aligncenter{margin: 0 auto;text-align: center;display: block;}
.article-content .alignright{float:right;text-align:right;margin-left:10px}
.article-content .wp-caption{margin-bottom: 20px;background-color: #f6f6f6;padding: 10px 10px 1px;max-width: 100%}
.article-content .wp-caption img{margin: 0 0 5px;}
.article-content .wp-caption p{margin-bottom: 10px;text-indent: 0;}
.article-content .wp-caption.alignnone{text-align: center;}
.article-content .wp-caption:hover .wp-caption-text{color: #45B6F7;}
.article-content a{text-decoration:underline;color: #45B6F7;}
.article-content a:hover{color: #FF5E52;}
.article-content pre,.comment pre{margin:20px 0;font:12px/20px 'courier new';background:#272822;padding:10px 15px;color:#F8F8D4;border:none}
.article-content blockquote{margin: 30px 30px;padding: 15px 20px;font-size: 16px;color: #999;border-left: 5px solid #EEE;}
.article-content blockquote p{margin:0;padding:0;margin-bottom: 10px;}

.p_indent .article-content p{text-indent: 30px;}

/* article nav
 * ====================================================
*/
.article-nav{overflow:hidden;margin-bottom:30px;font-size:14px;color:#bbb;}
.article-nav span{float:left;position:relative;width:50%;}
.article-nav span.article-nav-next{float:right;text-align:right}
.article-nav span.article-nav-next::before{content:'';position:absolute;left:0;top:0;height:100%;display:block;width:1px;background-color:#eee;}
.article-nav a{color:#999;margin-right:10px;display:inline-block;}
.article-nav span.article-nav-next a{margin-left:10px;margin-right:0;}
.article-nav a:hover{color:#45B6F7;}


/****** footer ******/
.footer {
    position: relative;
    z-index: 9;
    clear: both;
    padding: 40px 30px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    /* box-shadow: 1px 0 4px rgba(0,0,0,0.04); */
}

.flinks{overflow: hidden;margin-bottom: 10px;}
.flinks strong{margin: 0 7px 10px;display: inline;}
.flinks ul{margin: 0;padding: 0;display: inline;}
.flinks ul li{display: inline-block;margin: 0 7px;margin-bottom: 7px;}


@media screen and (min-width: 992px)
#scrollUp {
    bottom: 100px;
}
#scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8;
}



